[Unit]
Description=Minecraft Remote Monitoring and Managment
Requires=network.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/mc-rmm start
ExecStop=/usr/local/bin/mc-rmm stop
ExecReload=/usr/local/bin/mc-rmm restart

[Install]
WantedBy=multi-user.target

